* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 20px 160px;
    background: #adff2f;
    color: #fff;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    background: #202020;
    position: absolute;
    top: 0;
    left: -480px;
    transform: rotate(-70deg);
    width: 100%;
    height: 120%;
    z-index: 0;
}

body::after {
    content: "CORRE 4";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #202020;
    font-size: 150px;
    font-weight: bold;
    opacity: 0.5;
    z-index: 0;
}

.logo {
    width: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
}

h4 {
    font-size: 30px;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 16px;
    margin-bottom: 40px;
}

.botao-carrinho {
    background: #a3be52;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 19px;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

.botao-carrinho:hover {
    opacity: 0.7;
    background-color: #adff2f;
    color: #202020;
}

.imagem-tenis {
    width: 500px;
    transform: rotate(-20deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.troca-efeito {
    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);
}

.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    position: relative;
    z-index: 1;
    gap: 20px;
}

.caixa-texto {
    max-width: 500px;
}

.caixa-botoes {
    z-index: 2;
    position: relative;
    display: flex;
    gap: 20px;
}

.botoes {
    margin-top: 10px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    cursor: pointer;
}

.botoes:hover {
    opacity: 0.8;
}

.botoes:active {
    opacity: 0.6;
}

.green-yellow {
    background: #adff2f;  
}

.PowderBlue {
    background: #B0E0E6;
}

.GhostWhite {
    background: #F8F8FF;
}

